aiohappyeyeballs==2.6.1
aiohttp==3.13.5
aiosignal==1.4.0
annotated-types==0.7.0
APScheduler==3.11.2
attrs==26.1.0
colorama==0.4.6
dnspython==2.8.0
forex_shared @ file:///C:/Projects/forex_system/shared_lib
frozenlist==1.8.0
greenlet==3.3.2
idna==3.11
llvmlite==0.44.0
metatrader5==5.0.5640
multidict==6.7.1
numba==0.61.2
numpy==2.2.6
pandas-ta==0.4.71b0
pandas==3.0.1
propcache==0.4.1
psycopg2-binary==2.9.11
pycountry==26.2.16
pydantic_core==2.41.5
pydantic==2.12.5
pymongo==4.16.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
pytz==2025.2
six==1.17.0
SQLAlchemy==2.0.46
tqdm==4.67.3
typing_extensions==4.15.0
typing-inspection==0.4.2
tzdata==2025.3
tzlocal==5.3.1
yarl==1.23.0
